.active {
  border-bottom: 3px solid #e2b714;
  animation: blink 800ms ease-in-out infinite;
}

.correct {
  color: #d1d0c5 !important;
}

.wrong {
  color: #ca4754 !important;
}

.character {
  color: #646669;
  font-weight: 600;
  transition: color 300ms;
}

.characters {
  font-size: 1.5rem;
  width: 80%;
  margin: 0 auto;
}

.characters-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: #e2b714;
  }
}
