.result-container{
    display: flex;
    color: #d1d0c5;
    gap: 2rem;
}

.heading{
    font-size: 2rem;
    margin: 0;
    margin-bottom: 1rem;
}

.value{
    font-size: 4rem;
    margin: 0;
    color: #e2b714;
}