@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body{
  font-family: "Roboto Mono", monospace;
}

.container{
  min-height: 100vh;
  background-color: #323437;
}

.test{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 4rem);
}

.hidden{
  pointer-events: none;
  opacity: 0;
}

.remove-hidden{
  pointer-events: all !important;
  opacity: 100 !important;
}